.tw-followCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 420px;
  padding: 12px 16px;
  margin: 16px auto;
  gap: 24px;

  border: 1px solid #222;
  border-radius: 16px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
               "Segoe UI", Roboto, Ubuntu, sans-serif;

  background-color: #222;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #fbfbfb;
}

.tw-followCard-infoUserName {
  font-size: 14px;
  color: #536471;
}

.tw-followCard-button {
  padding: 6px 16px;
  border-radius: 9999px;

  border: 1px solid #0f1419;
  background-color: #fff;
    
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.tw-followCard-button:hover {
  background-color: #09f;
}

.tw-followCard-button.is-following {
  border: 1px solid red;
}

.tw-followCard-button.is-following:hover {
  background: red;
}

.changeNameButton{
  padding: 8px 120px;
  border-radius: 9999px;

  border: 1px solid #0f1419;
  background-color: #fff;
}
